<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Api Node.js</title>
</head>
<body>
    {{!-- Con 3 llaves => en el objeto body se encrustara lo que se envie desde le server --}}
    {{{ body }}}
</body>
</html>