<form id="login" method="POST">
    <input name="email" type="email" placeholder="Email"><br><br>
    <input name="password" type="password" placeholder="Password"><br><br>
    <button type="submit">Login</button>
</form>

<script>
    //Vanila js -> propiedad de ES6
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event => {
        event.preventDefault() //Evitar el recargado de la pagina, por defecto que hace submit
        fetch('/api/singin', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
        localStorage.setItem('token', data.token)
        })
        
    })
    
</script>